# Defining Dataset

In [1]:
# Read CSV
import pandas as pd

In [2]:
df=pd.read_csv('weather.csv')

In [3]:
df.head()

   Serial   weather  temp play
0       1     Sunny   Hot   No
1       2     Sunny   Hot   No
2       3  Overcast   Hot  Yes
3       4     Rainy  Mild  Yes
4       5     Rainy  Cool  Yes

# Encoding Features
First, you need to convert these string labels into numbers. for example: 'Overcast', 'Rainy', 'Sunny' as 0, 1, 2. This is known as label encoding. Scikit-learn provides LabelEncoder library for encoding labels with a value between 0 and one less than the number of discrete classes.

In [4]:
weather=df['weather']
temp=df['temp']
play=df['play']

In [5]:
# Import LabelEncoder
from sklearn import preprocessing

#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
df['weather_encoded']=le.fit_transform(weather)
df['temp_encoded']=le.fit_transform(temp)
df['Play_encoded']=le.fit_transform(play)
# print ("Weather:",weather_encoded)
# print ("Temp   :",temp_encoded)
# print ("Play   :",label)

df.head()

   Serial   weather  temp play  weather_encoded  temp_encoded  Play_encoded
0       1     Sunny   Hot   No                2             1             0
1       2     Sunny   Hot   No                2             1             0
2       3  Overcast   Hot  Yes                0             1             1
3       4     Rainy  Mild  Yes                1             2             1
4       5     Rainy  Cool  Yes                1             0             1

In [6]:
df_encoded = df[['weather_encoded', 'temp_encoded']].copy()
df_encoded

    weather_encoded  temp_encoded
0                 2             1
1                 2             1
2                 0             1
3                 1             2
4                 1             0
5                 1             0
6                 0             0
7                 2             2
8                 2             0
9                 1             2
10                2             2
11                0             2
12                0             1
13                1             2

# Generating Model
<!-- Generate a model using naive bayes classifier in the following steps:
Create naive bayes classifier
Fit the dataset on classifier
Perform prediction -->

In [7]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()
# data= list(features)
# features.reshape(-1, 1)
# print(data)
# Train the model using the training sets
model.fit(df_encoded,df['Play_encoded'])

#Predict Output
predicted= model.predict([[0,2]]) # 0:Overcast, 2:Mild
print ("Predicted Value:", predicted)

Predicted Value: [1]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(